.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 45px 25px;
    padding-bottom: 25px;
}
.screen-header__title {
    font-size: 32px;
    font-weight: 550;
}

.screen-header__icons span {
    margin-left: 25px;
}